.filter_menu {
  display: flex;
}

.filter_item {
  list-style: none;
  padding-inline: 24px;
  padding-block: 16px;
  border: 2px solid #d4d4d4;
  border-inline-width: 1px;
  cursor: pointer;
}

.filter_item:hover {
  border-color: #6b6b6b;
}

.filter_item:first-of-type {
  border-radius: 4px 0 0 4px;
  border-left-width: 2px;
}
.filter_item:last-child {
  border-radius: 0 4px 4px 0;
  border-right-width: 2px;
}
.filter_item:active,
.filter_item_active {
  border-color: #6e41e2;
}
.filter_item_active:hover {
  border-color: #5835b0;
}
